In [23]:

import numpy as np
import pandas as pd
import os
from scipy.stats import chi2_contingency as chi2
import math

set directory and read csv

In [2]:
os.chdir('E:\\1819SEM1\\SoftwareEngineering')
coverage = pd.read_csv('coverage.csv')
type(coverage)

pandas.core.frame.DataFrame

In [3]:
coverage

   Unnamed: 0  s1  s2  s3  s4  s5  s6  s7  s8  s9  s10  r
0          t1   1   0   0   0   1   1   0   1   1    1  1
1          t2   1   1   0   1   0   0   0   0   1    0  0
2          t3   1   0   1   0   0   1   1   1   1    1  1
3          t4   1   1   1   1   0   0   1   1   1    0  0
4          t5   1   0   0   0   0   0   0   0   0    0  0
5          t6   1   0   0   0   0   0   0   0   0    0  0
6          t7   1   0   0   0   0   0   0   0   0    0  0
7          t8   1   0   0   0   0   0   0   0   0    0  0
8          t9   0   0   0   0   0   0   0   0   0    0  0
9         t10   1   0   0   0   0   0   0   0   0    0  1
10        t11   0   0   0   0   0   0   0   0   0    0  0
11        t12   1   0   0   0   0   0   0   0   0    0  0
12        t13   1   0   0   0   0   0   0   0   0    0  0
13        t14   0   0   0   0   0   0   0   0   0    0  0
14        t15   1   0   0   0   0   0   0   0   0    0  1
15        t16   0   0   0   0   0   0   0   0   0    0  0
16        t17   1   0   0   0   0   0   0   0   0    0  0
17        t18   1   0   0   0   0   0   0   0   0    0  1
18        t19   1   0   0   0   0   0   0   0   0    0  0
19        t20   0   0   0   0   0   0   0   0   0    0  0
20        t21   1   0   0   0   0   0   0   0   0    0  1
21        t22   0   0   0   0   0   0   0   0   0    0  0
22        t23   0   0   0   0   0   0   0   0   0    0  0
23        t24   1   0   0   0   0   0   0   0   0    0  0
24        t25   1   0   0   0   0   0   0   0   0    0  1
25        t26   1   0   0   0   0   0   0   0   0    0  0
26        t27   1   0   0   0   0   0   0   0   0    0  0
27        t28   0   0   0   0   0   0   0   0   0    0  0
28        t29   0   0   0   0   0   0   0   0   0    0  0
29        t30   1   0   0   0   0   0   0   0   0    0  0
30        t31   1   0   0   0   0   0   0   0   0    0  1
31        t32   1   0   0   0   0   0   0   0   0    0  0
32        t33   1   0   0   0   0   0   0   0   0    0  0
33        t34   1   0   0   0   0   0   0   0   0    0  1
34        t35   0   0   0   0   0   0   0   0   0    0  0
35        t36   0   0   0   0   0   0   0   0   0    0  0

In [12]:
s1_tab = pd.crosstab(index=coverage['s1'],columns=coverage['r'])
s1_tab.index = ['uncovered','covered']
s1_tab.columns = ['passed','failed']
s1_tab

           passed  failed
uncovered      11       0
covered        16       9

In [14]:
s1_tab = pd.crosstab(index=coverage['s1'],columns=coverage['r'],margins=True)
s1_tab.index = ['uncovered','covered','coltotal']
s1_tab.columns = ['passed','failed','rowtotal']
s1_tab

           passed  failed  rowtotal
uncovered      11       0        11
covered        16       9        25
coltotal       27       9        36

In [15]:
type(s1_tab)

pandas.core.frame.DataFrame

In [27]:
stats, p, dof, expected = chi2(s1_tab)
stats,p

(5.28, 0.2597550211852452)

chi2 statistic

In [26]:
N = s1_tab.iloc[2]['rowtotal']
m = stats/N
m

0.14666666666666667

contingency coefficient

In [30]:
proportion = s1_tab.iloc[1]['failed']/s1_tab.iloc[2]['failed']/(s1_tab.iloc[1]['passed']/s1_tab.iloc[2]['passed'])
proportion

1.6875

The statistic to define the failed or the successsful execution result that is more associated with the coverage.

In [32]:
if proportion==1:
    final = 0
elif proportion<1:
     final = -m
else: final =m
final

0.14666666666666667

Final statistic for ranking. The higher the value, the higher the suspicious level.